@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@500;600;800&family=Lugrasimo&family=Rubik:wght@300&display=swap');
/*
font-family: 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&family=Lugrasimo&family=Rubik:wght@300&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Rubik', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
/*font-family: 'Pixelify Sans', cursive;*/
/*start container*/
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/*font-family: 'Young Serif', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*start header*/
:root{
  --main-color:#c8e2ed;
  --main:#e6b59e;
}
a{
  text-decoration: none;
}
.bg-main-color{
  background-color:#c8e2ed;
}
.header{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/image/bg-headers.jpg);
  height: 100vh;
  background-position: 50% 50%;
  background-size:cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.info-header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-header span{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color:var(--main-color);
  width:50% !important;
} 
.header .content-public{
  width:35%;
  text-align: center;
  
}
.header p{
  color:var(--main);
  font-family:'Dancing Script', cursive;
  font-size: 30px;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: change-p 4s infinite alternate-reverse steps(17) ,blink infinite;
  -webkit-animation: change-p 4s infinite alternate-reverse steps(17) ,blink infinite;
  border-right: solid 1px #dd4b39;
}
.info-home span{
  font-size: 40px;
}
@keyframes change-p {
  form{
    width: 0%;
  }
  to{
    width: 280px;
  }
}
@keyframes blink {
  from{
    border-color:#3333;
  }
  to{
    border-color:#333300;
  }
}
.icons .brand{
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: solid 2px;
  margin-left:10px;
  border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.icons .brand:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.brand-face{
  color: #3b5999;
  border: 1px solid #3b5999;
}
.brand-face:hover{
  background-color: #3b5999;
  color:white;
}
.brand-dribble{
  color: #ea4c89;
  border: 1px solid #3b5999;
}
.brand-dribble:hover{
  background-color: #ea4c89;
  color:white;
}
.brand-behance{
  color: #1769ff;
}
.brand-behance:hover{
  background-color: #1769ff;
  color:white;
}
.brand-linked{
  color: #0077b5;
  border: 1px solid #0077b5;
}
.brand-linked:hover{
  background-color: #0077b5;
  color:white;
}
.brand-google{
  color: #dd4b39;
  border: 1px solid #dd4b39
}
.brand-google:hover{
  background-color: #dd4b39;
  color:white;
}
/*end header */
.map .info-map .container{
  background-color: #317bc5;
}
.map .info .solid{
  font-size: 16px !important;
  height: 30px;
  width: 30px;
  border-radius:50%;
  margin-right: 5px;
  transition: 0.4s, 0.4s color;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  -webkit-transition: 0.4s, 0.4s color;
  -moz-transition: 0.4s, 0.4s color;
  -ms-transition: 0.4s, 0.4s color;
  -o-transition: 0.4s, 0.4s color;
}
.map .info .solid:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-color:var(--maincolor) !important;
  color: white;
}
.main-color{
  color:#363430;
}
.bg-main-color{
  background-color: #363430;
}
/*end map*/
/*start info about*/
.about-us{
  padding-top:10px ;
  padding-bottom:10px ;
}
.about-info{
  font-size: 1.9rem;
  line-height-step: 2px;
}
.image-about img{
  width: 90%;
  height: 90%;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
/*end about*/
/*start category*/
.info-category{
  text-align: center;

}
.info-category p{
  color:#181E4B;
  font-size: 30px;
}
.info-category h2{
  position: relative;
  font-family: 'Oswald', sans-serif;
}
.info-category h2::after {
  position: absolute;
  bottom: -36px;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 3px;
  width: 140px;
  background-color: #0077b5;
  content: '';
}
.services .services-image{
  text-align: center;
}
.services .services-image img{
  width: 30%;
}
.services .services-image p{
  width: 70%;
  line-height: 25px;
  margin: auto;
}
/*end category*/
@media screen and (max-width:600px){
  :root{
    font-size: 10px;
  }
  .info-home span{
    font-size: 30px;
  }
  .icons .brand{
    height: 30px;
    width: 30px;
  }
}