.footers{
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
.logo{
  width: 20%!important;
}
@media screen and (max-width:600px){
  :root{
    font-size: 12px;
  }
}